<%- include('partials/header.ejs') %>
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/img/solar_sys.jpg" alt="The Solar System" width="800" height="507"/>
                </div>
                <div class="col">
                    <p class="text-left"> This is our solar system showcasing the sun at the center of it </p>
                </div>
            </div>
        </div>
        
<%- include('partials/footer.ejs') %>