<%- include('partials/header.ejs') %>
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/img/solar_sys.jpg" class="img-fluid rounded" alt="The Solar System" width="800" height="507"/>
                </div>
                <div class="col">
                    <p class="text-left"> The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, 
                        either directly or indirectly. Of the objects that orbit the Sun directly, the largest are the eight planets, 
                        with the remainder being smaller objects, the dwarf planets and small Solar System bodies. 
                        Our solar system formed over 4.6 billion years ago from a gravitational collapse of a giant interstellar cloud. </p>
                </div>
            </div>
        </div>
        
<%- include('partials/footer.ejs') %>