<%- include('partials/header.ejs') %>

        <h1> Welcome to Mercury! </h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/img/mercury.jpg" class="img-fluid rounded-circle" class="rounded-cirlce" alt="Mercury" width="800" height="450"/>
                </div>
                <div class="col">
                    <p class="text-left"> Mercury is the smallest and innermost planet in the Solar System. It orbits the sun in 87.97 Earth days, 
                        which is the shortest of all the planets in the Solar System. It is named after the Greek god Hermes. Mercury orbits the sun within
                        the earths orbit and also has the smallest tilt of any of the Solar systems planets.</p>
                </div>
            </div>
        </div>
<%- include('partials/footer.ejs') %>