<%- include('partials/header.ejs') %>

        <h1> Welcome to Venus! </h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/img/venus.jpg" class="img-fluid rounded" alt="Venus" width="600" height="600"/>
                </div>
                <div class="col">
                    <p class="text-left"> Venus is the second planet from the Sun and was named after the Roman goddess of love and beauty. 
                        Venus is the second-brightest natural object in Earth's night sky after the Moon, and can cast shadows and be, 
                        visible to the naked eye in broad daylight. Venus is within Earth's orbit and orbits the sun every 224.7 earth days. </p>
                </div>
            </div>
        </div>
<%- include('partials/footer.ejs') %>